body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  text-align: right;
  margin-right: 5px;
}

#budget {
  float: right;
}

.plusClass {
  background-color: green;
  color: white;
  border-radius: 30px;
}

.minusClass {
  background-color: red;
  color: white;
  border-radius: 30px;
}

.alert-success2 {
  background-color: green;
  color: white;
  border-radius: 30px;
}